<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
    <div>
        <pi>New Title</pi>
    </div>

    <div>
        <input type="text" name="newTitle" id="newTitle"
        th:value="${oldNote.title}">
    </div>

    <div>
        <pi>New Content</pi>
    </div>

    <textarea id="newContent" name="newContent" rows="5" cols="18"
    th:text="${oldNote.content}">
    </textarea>

    <div>
        <button>Save</button>
    </div>
</form>
</body>
</html>