<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<style>
    .center-table {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<form action="/note/list" method="post">
    <div>
        <pi>Title</pi>
    </div>

    <div>
        <input type="text" name="title" id="title">
    </div>

    <div>
        <pi>Content</pi>
    </div>

    <textarea id="content" name="content" rows="5" cols="18">
    </textarea>

    <div>
        <button>Add</button>
    </div>
</form>

<div class="center-table">
    <table>
        <tr>
            <td>Title</td>
            <td>Content</td>
        </tr>
        <tr th:each="entry : ${noteMap}">
            <td th:text="${entry.value.title}"></td>
            <td th:text="${entry.value.content}"></td>
            <td>
                <form action="/note/delete" method="post">
                    <div>
                        <button type="submit" name="idNote" th:value="${entry.value.id}">Delete</button>
                    </div>
                </form>
                <form th:action="@{/note/edit/{id}(id=${entry.value.id})}" method="get">
                    <div>
                        <button type="submit" >Edit</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>